/* rgba(78, 186, 169, .9) */
/* rgba(28, 172, 213, .7) */
body{
    height: 100vh;
    max-width: 960px;
    margin: 0 auto;
}
.ctn{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(242, 242, 242, .9);
}
.box{
    color: rgba(78, 186, 169, .9);
    /* background-color: black; */
    border:1px solid rgba(78, 186, 169, .9);
}
.dashboard-table {
    max-width: 720px;
    width: 500px;
    margin: 0 auto;
}
.dashboard-row {
    
}
.dashboard-row > td {
    padding: 20px;
    /* border:1px solid white; */
}
